@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "Login";
}

@model aplicacionWebMVC.Models.LoginViewModel

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <style>
        font-face {
            font-family: 'OptimaExtraBlack';
            src: url('./Optima-ExtraBlack.otf') format('opentype');
        }

        body {
            font-family: Arial, sans-serif;
            /* background: linear-gradient(#00a5e0dd, #000);  */
            background: linear-gradient(#34e000dd, #000);
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        form {
            background-size: cover;
            background: rgba(245, 245, 245, 0.2);
            padding: 20px;
            border-radius: 8px;
            border-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            color: #000;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        button {
            background-color: #34e000dd;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

            button:hover {
                background-color: #45a049;
            }

        span {
            font-family: 'OptimaExtraBlack', sans-serif;
            color: #ffffff; /* Puedes ajustar el color según tus preferencias */
            font-size: 30px;
            align-items: center;
            text-align: center;
        }

        .logo {
            color: "";
        }
    </style>
</head>

<div style="display: flex; width: 95%;justify-content: space-between; padding:0px 150px 0px 150px;">
    <div class="logo">
        <img width="350em" height=" auto" src="./chico1.png">
    </div>

    <div>
        <div>
            <span>Bienvenido!!!</span>

            <img width="100px" height=" auto" src="./logo1.png">
        </div>
        <div>
            <div class="form-group">
                <label style="color:white"> Usuario </label>
                <input type="text" name="usuario" id="usuario" />
            </div>
            <div class="form-group">
                <label style="color:white"> Contraseña </label>
                <input type="password" name="password" id="password" />
            </div>
            <div class="form-group">
                <button id="btnSubmit" class="btn btn-success">Iniciar Sesión</button>
            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#btnSubmit').click(function (event) {
            event.preventDefault();

            var formData = {
                Usuario: $('#usuario').val(),
                Password: $('#password').val(),
            };

            $.ajax({
                url: '/Login/Login',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (data) {
                    if (data.msg == "Invalido") {
                        window.location.href = '/';
                    } else {
                        console.log(data.token);
                        localStorage.setItem("token", data.token);
                        window.location.href = '/Book';
                    }
                },
                error: function (error) {
                    console.log(error.responseText);
                }
            });
        });
    });
</script>

